    <div class="row">
      <header>
        <div class="col-md-5">
          <p><%= "Witaj w panelu administratora".upcase %></p>
        </div>
        <div class="col-md-7">
          <ul class="pull-right list-inline">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                <span class="label label-warning">3</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <span class="label label-success">3</span>
              </a>
            </li>
            <li>
              <a href="#" class="link-decor-off">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </header>
    </div>

    <div class="table-cell">
      <%= link_to("Dodaj administratora strony", {:action => "new"}, :class => "btn btn-mini btn-primary")%>
      <p class="row pull-right">
        Nb. of users: <%= @admin_user.size %>
      </p>


        <table class="table border-dark" id="admin-table-style">
          <tr>
            <th colspan="6" class="text-center">Administratorzy</th>
          </tr>
          <tr>
            <th class="text-center">Imię</th>
            <th class="text-center">Nazwisko</th>
            <th class="text-center">Nick</th>
            <th class="text-center">Email</th>
            <th class="text-center">Akcja</th>
          </tr>
          <% @admin_user.each do |au| %>
            <tr class="text-center">
              <td><%= au.name %></td>
              <td><%= au.surename %></td>
              <td><%= au.admin_nick %></td>
              <td><%= au.email %></td>
              <td>
                <%= link_to("Edycja", {:action => "edit", :id => au.id}, :class => "btn btn-xs btn-primary") %>
                <%= link_to("Usuń", {:action => "delete", :id => au.id}, :class => "btn btn-xs btn-danger") %>
              </td>
            </tr>
          <% end %>
        </table>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iste quam molestias, reprehenderit unde libero omnis, nobis nemo consequuntur ipsam laudantium error totam ex ut doloribus minus accusantium odit! Porro consectetur dolore odit temporibus nisi at perspiciatis architecto quos impedit repudiandae rerum adipisci numquam rem, ex, expedita aliquid distinctio nam libero. Assumenda enim sapiente ducimus inventore, officia vitae ipsam veniam dolore, culpa voluptatum iusto repellat ullam incidunt nemo quisquam aperiam minima nam magnam provident eligendi odio laudantium reiciendis deleniti distinctio. Molestias laudantium minus mollitia dolor, ipsum ea eos aut nulla nostrum nobis necessitatibus soluta qui maiores nihil voluptates placeat corporis delectus dicta eveniet fugit quaerat. Officiis omnis, praesentium ad assumenda quis totam molestias facilis laudantium quaerat aspernatur dolor cumque fugit dolorum ex nulla asperiores, eaque exercitationem! Magni, labore tempora voluptas! Vel cupiditate aperiam est similique corporis, ratione quam quae quos praesentium nobis quisquam. Rem delectus ad non, harum perferendis amet
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iste quam molestias, reprehenderit unde libero omnis, nobis nemo consequuntur ipsam laudantium error totam ex ut doloribus minus accusantium odit! Porro consectetur dolore odit temporibus nisi at perspiciatis architecto quos impedit repudiandae rerum adipisci numquam rem, ex, expedita aliquid distinctio nam libero. Assumenda enim sapiente ducimus inventore, officia vitae ipsam veniam dolore, culpa voluptatum iusto repellat ullam incidunt nemo quisquam aperiam minima nam magnam provident eligendi odio laudantium reiciendis deleniti distinctio. Molestias laudantium minus mollitia dolor, ipsum ea eos aut nulla nostrum nobis necessitatibus soluta qui maiores nihil voluptates placeat corporis delectus dicta eveniet fugit quaerat. Officiis omnis, praesentium ad assumenda quis totam molestias facilis laudantium quaerat aspernatur dolor cumque fugit dolorum ex nulla asperiores, eaque exercitationem! Magni, labore tempora voluptas! Vel cupiditate aperiam est similique corporis, ratione quam quae quos praesentium nobis quisquam. Rem delectus ad non, harum perferendis amet
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iste quam molestias, reprehenderit unde libero omnis, nobis nemo consequuntur ipsam laudantium error totam ex ut doloribus minus accusantium odit! Porro consectetur dolore odit temporibus nisi at perspiciatis architecto quos impedit repudiandae rerum adipisci numquam rem, ex, expedita aliquid distinctio nam libero. Assumenda enim sapiente ducimus inventore, officia vitae ipsam veniam dolore, culpa voluptatum iusto repellat ullam incidunt nemo quisquam aperiam minima nam magnam provident eligendi odio laudantium reiciendis deleniti distinctio. Molestias laudantium minus mollitia dolor, ipsum ea eos aut nulla nostrum nobis necessitatibus soluta qui maiores nihil voluptates placeat corporis delectus dicta eveniet fugit quaerat. Officiis omnis, praesentium ad assumenda quis totam molestias facilis laudantium quaerat aspernatur dolor cumque fugit dolorum ex nulla asperiores, eaque exercitationem! Magni, labore tempora voluptas! Vel cupiditate aperiam est similique corporis, ratione quam quae quos praesentium nobis quisquam. Rem delectus ad non, harum perferendis amet
        </p>
      </div>
