
  <div class="col-md-2 box h100">
    <h1 class="display-table text-center">Nawigacja</h1>
    <ul>
      <li>jeden</li>
      <li>dwa</li>
      <li>trzy</li>
    </ul>
    <ul>
      <li>jeden</li>
      <li>dwa</li>
      <li>trzy</li>
    </ul>

  </div>
  <div class="col-md-10 box h100">
    <div class="row">
      <header>
        <div class="col-md-5">
          <p><%= "Witaj w panelu administratora".upcase %></p>
        </div>
        <div class="col-md-7">
          <ul class="pull-right list-inline">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                <span class="label label-warning">3</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <span class="label label-success">3</span>
              </a>
            </li>
            <li>
              <a href="#" class="link-decor-off">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </header>
    </div>

    <%= link_to("Dodaj administratora strony", {:action => "new"}, :class => "btn btn-mini btn-primary")%>
    <p style="text-align: right">
      Nb. of users: <%= @admin_user.size %>
    </p>


      <table class="table border-dark" id="admin-table-style">
        <tr>
          <th colspan="6" class="text-center">Administratorzy</th>
        </tr>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Imię</th>
          <th class="text-center">Nazwisko</th>
          <th class="text-center">Nick</th>
          <th class="text-center">Email</th>
          <th class="text-center">Akcja</th>
        </tr>
        <% @admin_user.each do |au| %>
          <tr class="text-center">
            <td><%= au.id %></td>
            <td><%= au.name %></td>
            <td><%= au.surename %></td>
            <td><%= au.admin_nick %></td>
            <td><%= au.email %></td>
            <td>
              <%= link_to("Edycja", {:action => "edit", :id => au.id}, :class => "btn btn-xs btn-primary") %>
              <%= link_to("Usuń", {:action => "delete", :id => au.id}, :class => "btn btn-xs btn-danger") %>
            </td>
          </tr>
        <% end %>
      </table>

  </div>
