<h1 class="text-center right-pan-title">Dane twojego konta</h1>
<%= form_for(:client_info, :url => {:action => "account_update", :id => @client_info.id}) do |f| %>

<div class="container table bg-dark" style="width: 40%; border-radius: 5px; padding: 20px;">
  <form>
    <div class="form-group">
      <label>Imię</label>
      <%= f.text_field(:name, class: "form-control") %>
    </div>
    <div class="form-group">
      <label>Nazwisko</label>
      <%= f.text_field(:surename, class: "form-control") %>
    </div>
    <div class="form-group">
      <label>Nazwa użytkownika</label>
      <%= f.text_field(:customer_nick, class: "form-control") %>
    </div>
    <div class="form-group">
      <label>Email</label>
      <%= f.email_field(:email, class: "form-control") %>
    </div>
    <div class="form-group">
      <label>Nr telefonu</label>
      <%= f.text_field(:phone_no, class: "form-control") %>
    </div>
    <div class="text-center">
      <%= link_to("Wróć", {:action => "my_booking"}, :class => "btn btn-success") %>
      <%= submit_tag("Zapisz zmiany", :class => "btn btn-danger") %>
      <%= link_to("Zmień hasło", {:action => "password_edit"}, :class => "btn btn-warning") %>
    </div>
  </form>
</div>
<%end%>
