
    <h1 class="text-center right-pan-title">Edycja rezerwacji nr <%= @reservation.id %></h1>
    <%= form_for(:reservation, :url => {:action => "update", :id => @reservation.id}) do |f| %>

    <div class="container table bg-dark" style="width: 40%; border-radius: 5px; padding: 20px;">
      <form>
        <%= f.hidden_field(:customer_name, :value => @client_info.name) %>
        <%= f.hidden_field(:customer_surename, :value => @client_info.surename) %>
        <%= f.hidden_field(:customer_id, :value => @client_info.id) %>

        <div class="form-group">
          <label>Nr stolika</label>
          <%= collection_select(:reservation, :table_id, Table.order("id ASC"), :id, :table_type, {:prompt => 'Wybierz stolik'}, {:class => "form-control"}) %>
        </div>
        <div class="form-group">
          <label>Data rezerwacji</label>
          <%= f.date_field(:booking_data, :class => "form-control", placeholder: "Podaj datę rezerwacji") %>
        </div>
        <div class="form-group" style="height: 50px; margin-bottom: 25px;">
          <label>Godziny rezerwacji</label>
          <div class="form-inline">
            <div class="form-group col-sm-6">
              <%= collection_select(:reservation, :booking_hour_start, BookingHour.order("id ASC"), :start, :short_hour_start, {}, {:class => "form-control", :style => "width: 100%;"}) %>
            </div>
            <div class="form-group col-sm-6">
              <%= collection_select(:reservation, :booking_hour_end, BookingHour.order("id ASC"), :end, :short_hour_end, {}, {:class => "form-control", :style => "width: 100%;"}) %>
            </div>
          </div>
        </div>
      <div class="form-group" style="margin-to: 10px;">
        <label>Uwagi</label>
        <%= f.text_field(:comment, :class => "form-control", placeholder: "Wpisz dodatkowe informacje") %>
      </div>
      <div class="text-center">
        <%= link_to("Wróć", {:action => "my_booking"}, :class => "btn btn-primary") %>
        <%= submit_tag("Zapisz zmiany", :class => "btn btn-danger") %>
      </div>
    </form>
    </div>
  <%end%>
