  <h1 class="text-center right-pan-title">Zmiana hasła</h1>
  <%= form_for(:client_pwd, :url => {:action => "password_update", :id => @client_pwd.id}) do |f| %>
  <div class="container table bg-dark" style="width: 40%; border-radius: 5px; padding: 20px;">
    <form>
      <div class="form-group">
        <label>Aktualne hasło</label>
        <%= f.password_field(:current_password, class: "form-control") %>
      </div>
      <div class="form-group">
        <label>Nowe hasło </label>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
      <div class="form-group">
        <label>Powtórz nowe hasło</label>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
      <div class="text-center">
        <%= link_to("Wróć", {:action => "account_edit", :id => @client_pwd.id}, :class => "btn btn-primary") %>
        <%= f.submit("Zapisz zmiany", :class => "btn btn-danger") %>
      </div>
    </form>
  </div>
  <%end%>
