    <h1 class="text-center right-pan-title">Lista rezerwacji</h1>
    <div class="pull-right counter">
      Ilość rezerwacji:
      <%= @bookings.size %>
    </div>

    <%= link_to("Nowa rezerwacja", {:action => "new"}, :class => "btn btn-success")%>
    <table class="table border-dark admin-table-style">
      <tr class="no-padding">
        <th class="text-center">L.p.</th>
        <th class="text-center">Nr rezerwacji</th>
        <th class="text-center">Imię i nazwisko</th>
        <th class="text-center">Nr klienta</th>
        <th class="text-center">Data rez.</th>
        <th colspan="2" class="text-center">Godziny</th>
        <th class="text-center">Opcje</th>
      </tr>
      <% @bookings.each do |b| %>
        <tr class="text-center">
          <td><%= @lp += 1 %></td>
          <td><%= b.id %></td>
          <td><%= b.customer_name + " " + b.customer_surename %></td>
          <td><%= b.customer_id %></td>
          <td><%= b.booking_data %></td>
          <td colspan="2"><%= b.booking_hour_start.to_s(:only_hour) + " - " + b.booking_hour_end.to_s(:only_hour) %></td>
          <td>
            <%= link_to("Szczegóły", {:action => "show", :id => b.id}, :class => "btn btn-xs btn-warning") %>
            <%= link_to("Edycja", {:action => "edit", :id => b.id}, :class => "btn btn-xs btn-primary") %>
            <%= link_to("Usuń", {:action => "delete", :id => b.id}, :class => "btn btn-xs btn-danger") %>
          </td>
        </tr>
      <% end %>
    </table>
