
    <h1 class="text-center right-pan-title">Szczegóły twojej rezewacji</h1>
<div class="container table bg-dark" style="width: 50%; border-radius: 5px; padding: 20px;">
    <table class="table admin-table-style">
      <tr>
        <th class="col-sm-5">Nr rezerwacji</th>
        <td class="col-sm-7"><%= @reservation.id %></td>
      </tr>
      <tr>
        <th class="col-sm-5">Imię i nazwisko</th>
        <td class="col-sm-7"><%= @reservation.customer_name + " " + @reservation.customer_surename %></td>
      </tr>
      <tr>
        <th>Nr telefonu</th>
        <% if @reservation.customer_id != 1 %>
          <td><%= Customer.find(@reservation.customer_id).phone_no %></td>
        <% end %>
        <% if @reservation.customer_id == 1 %>
          <td><%= @reservation.phone_no %></td>
        <% end %>
      </tr>
      <tr>
        <th>Data rezerwacji</th>
        <td><%= @reservation.booking_data %></td>
      </tr>
      <tr>
        <th>Godziny rezerwacji</th>
        <td><%= @reservation.booking_hour_start.to_s(:only_hour) + " - " + @reservation.booking_hour_end.to_s(:only_hour) %></td>
      </tr>
      <tr>
        <th>Nr stolika</th>
        <td><%= @reservation.table_id %></td>
      </tr>
      <tr>
        <th>Dodatkowe informacje</th>
        <td><%= @reservation.comment %></td>
      </tr>
    </table>
    <div style="text-align: center;">
      <% if admin_signed_in? %>
        <%= link_to("Wróć", {:action => "index"}, :class => "btn btn-primary") %>
      <% end %>
      <% if !admin_signed_in? %>
        <%= link_to("Wróć", new_customer_session_path, :class => "btn btn-primary") %>
      <% end %>
      <%= link_to("Utwórz potwierdzenie PDF", {:controller => "client_panel", :action => "create_pdf", :id => @reservation.id, :format => "pdf"} , :class => "btn btn-default", target: :_blank) %>
    </div>
</div>
