<div class="right-pan-style h100">
  <div class="container right-pan-view">
    <h1 class="text-center right-pan-title">Szczegóły rezerwacji nr
      <%= @reservation.id %></h1>
    <table class="table">
      <tr>
        <th class="col-sm-5">Imię i nazwisko</th>
        <td class="col-sm-7"><%= @reservation.customer_name + " " + @reservation.customer_surename %></td>
      </tr>
      <tr>
        <th>Nick</th>
        <td><%= @reservation.customer_nick %></td>
      </tr>
      <tr>
        <th>Ilość osób</th>
        <td><%= @reservation.guests_quantity%></td>
      </tr>
      <tr>
        <th>Data rezerwacji</th>
        <td><%= @reservation.booking_data %></td>
      </tr>
      <tr>
        <th>Godziny rezerwacji</th>
        <td><%= @reservation.booking_time_start.to_s(:only_hour) + " - " + @reservation.booking_time_end.to_s(:only_hour) %></td>
      </tr>
      <tr>
        <th>Nr stolika</th>
        <td><%= @reservation.table_id %></td>
      </tr>
      <tr>
        <th>Dodatkowe informacje</th>
        <td><%= @reservation.comment %></td>
      </tr>
    </table>
    <div style="text-align: center;">
      <%= link_to("Wróć", {:action => "index"}, :class => "btn btn-primary") %>
      <%= link_to("Edytuj", {:action => "edit", :id => @reservation.id}, :class => "btn btn-warning") %>
    </div>
  </div>
</div>
