    <h1 class="text-center right-pan-title">Lista klientów</h1>
    <div class="pull-right counter">
      Ilość klientów:
      <%= @customer_user.size %>
    </div>
    <%= link_to("Nowy klient", {:action => "new"}, :class => "btn btn-mini btn-success")%>
    <table class="table border-dark admin-table-style">
      <tr>
        <th class="text-center">Nr klienta</th>
        <th class="text-center">Imię</th>
        <th class="text-center">Nazwisko</th>
        <th class="text-center">Nick</th>
        <th class="text-center">Email</th>
        <th class="text-center">Nr telefonu</th>
        <th class="text-center">Opcje</th>
      </tr>
      <% @customer_user.each do |cu| %>
        <tr class="text-center">
          <td><%= cu.id %></td>
          <td><%= cu.name %></td>
          <td><%= cu.surename %></td>
          <td><%= cu.customer_nick %></td>
          <td><%= cu.email %></td>
          <td><%= cu.phone_no %></td>
          <td>
            <%= link_to("Edycja", {:action => "edit", :id => cu.id}, :class => "btn btn-xs btn-primary") %>
            <%= link_to("Usuń", {:action => "delete", :id => cu.id}, :class => "btn btn-xs btn-danger") %>
            <%= link_to("Rezerwuj", {:controller => "booking", :action => "new_exist_customer", :id => cu.id}, :class => "btn btn-xs btn-warning") %>
          </td>
        </tr>
      <% end %>
    </table>
