<!DOCTYPE html>
<html>
  <head>
    <title>Flashfood</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'client_panel', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'jquery', 'admin', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container-fluid table-display h100">
      <div class="row table-row">
        <div class="col-sm-3 table-cell h100 nav-menu">
          <div class="nav-title">
            <h4>Restauracja</h4>
            <h1>FlashFood</h1>
          </div>
            <ul class="nav nav-stacked">
              <% if !customer_signed_in? %>
              <li role="presentation" class="active"><%= link_to("Zarezerwuj stolik".upcase, {:controller => "booking", :action => "new" }, class: "link-decor-off") %></li>
              <li role="presentation" class="active"><%= link_to("Logowanie / rejestracja".upcase, new_customer_session_path, class: "link-decor-off") %></li>
              <% end %>
              <% if customer_signed_in? %>
                <li role="presentation" class="active"><%= link_to("Moje konto".upcase, {:action => "account_edit", :controller => "client_panel"}, class: "link-decor-off") %></li>
                <li role="presentation"><%= link_to("Moje rezerwacje".upcase, {:action => "my_booking", :controller => "client_panel"}, class: "link-decor-off") %></li>
              <% end %>
            </ul>
        </div>
        <div class="col-sm-9 table-cell valign-top h100">
          <% if flash[:notice] || flash[:error] %>
            <div class="alert alert-success notice">
              <%= flash[:notice] %>
              <%= flash[:error] %>
            </div>
          <% end %>
          <% if flash[:alert] %>
            <div class="alert alert-danger notice">
              <%= flash[:alert] %>
            </div>
          <%end%>
          <div class="right-pan-style h100">
            <div class="container right-pan-view">
              <p><%= "Panel klienta".upcase %></p>
              <% if customer_signed_in? %>
                <span class="pull-right">Witaj,
                  <%= current_customer.name %></span><br><br>
                <span><%= link_to("Wyloguj", destroy_customer_session_path, :method => "delete", :class => "btn btn-danger customer-logout link-decor-off pull-right") %></span><br>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
