<!DOCTYPE html>
<html>
  <head>
    <title>Flashfood</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'jquery', 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid table-display h100">
      <div class="row table-row">
        <div class="table-cell valign-top h100">
            <% if !flash[:notice].blank? %>
              <div class="alert alert-success" style="text-align: center; margin-top: 15px;">
                <%= flash[:notice] %>
              </div>
            <%end%>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
